<ion-view view-title="注册" hide-back-button="true" hide-nav-bar="true">
        <ion-header-bar class="xyb_mow_head_bar">
            <div class="buttons" style="width: 35px;padding: 8px;z-index: 99999!important;" ng-click="registerBackBtn()">
                <img style="width: 15px;height: 20px;" src="img/back_white.png">
            </div>
            <h1 class="title xyb_app_head_bar_title" style="font-size: 18px!important; text-align:center;">注册</h1>
            <div ng-if="channelType !='ALIPAY' " class="buttons">
                <!--<button class="button xyb_app_head_bar_rightBtn" style="background-color: #ffffff;" ng-click="register()">注册</button>-->
                <img class="lwg_mow_home_head_right_rethomebtn" src="img/home.png" ng-click="goHome()">
                <img ng-if="!showMenuFlag" class="xyb_mow_home_head_right_btn" src="img/menu-hide.png" ng-click="showMenu()">
                <img ng-if="showMenuFlag" class="xyb_mow_home_head_right_btn" src="img/menu-show.png" ng-click="hideMenu()">
            </div>
        </ion-header-bar>
    <div id="xyb_mask" class="xyb_mask" ng-class="{true: 'xyb_mow_mask_show', false: 'xyb_mow_mask_hide'}[showMenuFlag]" ng-click="hideMenu()"></div>
    <div id="menuUp" class="xyb_menu_up" ng-class="{true: 'xyb_mow_mask_show', false: 'xyb_mow_mask_hide'}[showMenuFlag]">
        <ion-item style="background-color: #ffffff;color: black;padding: 0px;">
            <div class="xyb_menu_up_box" style="border-right: 1px solid gainsboro;border-bottom: 1px solid gainsboro;" ng-click="toQueryByText()">
                <img src="img/service_cargo.png" class="xyb_mow_home_top_img">
                <div class="xyb_menu_up_box_font">
                    货物追踪
                </div>
            </div>
            <div class="xyb_menu_up_box" style="border-right: 1px solid gainsboro;border-bottom: 1px solid gainsboro;" ng-click="toWebQuery()">
                <img src="img/webQuery.png" class="xyb_mow_home_top_img">
                <div class="xyb_menu_up_box_font">
                    网点查询
                </div>
            </div>
            <div class="xyb_menu_up_box" style="width: 34%;border-bottom: 1px solid gainsboro;" ng-click="toSend()">
                <img src="img/toSend.png" class="xyb_mow_home_top_img">
                <div class="xyb_menu_up_box_font">
                    我要寄件
                </div>
            </div>
            <div class="xyb_menu_up_box" style="border-right: 1px solid gainsboro;" ng-click="toDispatchScope()">
                <img src="img/dispatchScope.png" class="xyb_mow_home_top_img">
                <div class="xyb_menu_up_box_font">
                    收派范围
                </div>
            </div>
            <div class="xyb_menu_up_box" style="border-right: 1px solid gainsboro;" ng-click="toPrice()">
                <img src="img/service_price_time.png" class="xyb_mow_home_top_img">
                <div class="xyb_menu_up_box_font">
                    价格时效
                </div>
            </div>
            <div class="xyb_menu_up_box" style="width: 34%;" ng-click="toQueryList()">
                <img src="img/top_meOrder.png" class="xyb_mow_home_top_img">
                <div class="xyb_menu_up_box_font">
                    我的快运
                </div>
            </div>
        </ion-item>
    </div>

    <ion-content class="grayBackground">
        <ion-item style="height: 60px;padding-top: 20px;text-align: center;border: 0px;border-bottom: 1px #ebebeb solid;">
            <div style="float: left;">手机号</div>
            <input type="tel" style="float: left;width: 40%;margin-top: -8px;margin-left:10px;" placeholder="请输入手机号码"
                   maxlength="11"
                   ng-model="input.phone"/>
            <button id="butText" class="button xyb_get_verifyCode" style="float: right;" ng-click="getVerifyCode()" ng-bind="butText"></button>
        </ion-item>
        <ion-item style="height: 60px;padding-top: 20px;text-align: center;border: 0px;">
            <div style="float: left;">验证码</div>
            <input type="tel" style="float: left;margin-top: -8px;margin-left:10px;" placeholder="请输入验证码"
                   maxlength="6"
                   ng-model="input.verifyCode"/>
        </ion-item>
        <ion-item style="height: 60px;padding-top: 20px;text-align: center;border: 0px;">
            <div style="float: left;">密码</div>
            <input type="password" style="float: left;width: 75%;margin-top: -8px;margin-left:25px;" placeholder="请输入新密码(6-16位字母或数字)"
                   ng-model="input.password"
                   onKeyUp="this.value=this.value.replace(/[^\w\.\/]/ig,'')"
                   onafterpaste="this.value=this.value.replace(/[^\w\.\/]/ig,'')"
                   maxlength="16" minlength="6"/>
        </ion-item>
        <div class="xyb_provision_box">
            <div ng-if="input.isAgree" style="float: left;height: 15px;width: 15px;padding-top: 1px;" ng-click="agree()">
                <iframe src="img/gouxuan.svg" width="100%" height="100%"></iframe>
            </div>
            <div ng-if="!input.isAgree" style="float: left;height: 15px;width: 15px;padding-top: 1px;" ng-click="agree()">
                <iframe src="img/gouxuan-hui.svg" width="100%" height="100%"></iframe>
            </div>
            <div style="float: left;margin-left: 5%;">我已阅读并同意遵守<span style="color: lightblue;" ng-click="toDepponAgree()">《德邦注册协议》</span></div>
        </div>
        <button id="registerBtn" class="button button-assertive" disabled style="width: 90%;margin-left: 5%;margin-top: 25px;height: 40px;min-height: 20px;background-color: gray;" ng-click="register()">注册</button>
    </ion-content>
</ion-view>